{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}! Welcome to PRA2 Docker!</h1>
    {% if is_uoft_email %}
      {% if email %}<h1>Your UofT email is {{ email }}</h1>{% endif %}
    {% else %}
      <h1>Please use your UofT email.</h1>
    {% endif %}
  </div>
  {{ wtf.quick_form(form) }}
</div>
{% endblock %}
